# Tarea 1: Deep Learning 2025
- Alumno: Francisco Morales Arias
- Profesor: Christian Aguilera
  
Desarrollar un análisis exploratorio de datos (EDA) y modelación para el dataset asignado.

---

## 1 Análisis exploratorio
detección de valores nulos, duplicados, errores, outliers y descripción estadística general del dataset (con visualizaciones).

In [5]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, precision_score, recall_score

file = pd.read_csv('factory_sensors_draw2.csv')
file.tail, file.columns, file.size

(<bound method NDFrame.tail of             s1         s2         s3        s4        s5        s6         s7  \
 0    -1.726684  -2.505366   4.229920 -5.974067  0.847960  5.179497   5.311862
 1     4.553935  10.565414  -5.348424  5.386391 -1.313040       NaN        NaN
 2          NaN -14.133572   3.339484       NaN -3.821614 -4.221489  -8.719204
 3     0.526325 -11.220928   6.260952 -1.475132  1.098918 -2.963854   3.450683
 4    -3.420098   5.549899  -3.688062 -0.391355 -0.591698  6.968590   6.768176
 ...        ...        ...        ...       ...       ...       ...        ...
 6235       NaN  -5.547598   2.786233 -1.064707  3.345072 -8.343020   5.339206
 6236       NaN   2.061614 -10.405416 -1.944145 -5.399278       NaN  11.396246
 6237  1.797639   7.720596   7.791849  4.624720  1.263150 -3.828952 -15.489657
 6238  8.039895        NaN   8.389923 -6.171220 -1.512421  0.795013   6.282524
 6239  0.431476   4.516479  -2.091449 -4.991664 -2.198562 -5.752324  -1.665545

             s8         s9       s10  ...     temp_c  pressure_bar  \
 0    -5.722874        NaN -7.132110  ...  35.434331      7.300201
 1          NaN  -4.881985 -1.317917  ...  41.839070      5.111337
 2    -5.700690  -2.104218  7.224992  ...  37.401024      4.403086
 3    -4.558795  -6.287326 -0.617424  ...        NaN      5.198709
 4    -0.211008 -12.248741 -6.892265  ...  37.773488      4.952631
 ...        ...        ...       ...  ...        ...           ...
 6235  9.253984 -12.359032  4.787808  ...  26.048537      4.493444
 6236 -3.799092   9.744953  1.288012  ...  52.881378      4.729492
 6237       NaN        NaN  3.874763  ...  42.399639      5.767572
 6238 -3.872433   1.853285  6.755307  ...        NaN      4.259805
 6239       NaN  14.884312 -2.022313  ...  49.767743      4.178095

       humidity_pct  machine_type    shift  plant_region  operator_id  line_id  \
 0        64.065014           NaN      day           NaN        129.0      4.0
 1        47.338277             A  evening           Sur        134.0      5.0
 2        63.189637             C  evening        Centro        100.0      4.0
 3              NaN             A      day         Norte        112.0      2.0
 4        48.820599             B      day        Centro        125.0      NaN
 ...            ...           ...      ...           ...          ...      ...
 6235     70.329640             B    night           Sur        101.0      5.0
 6236     46.743924             C    night         Norte        149.0      NaN
 6237     54.501262             A  evening         Norte        140.0      3.0
 6238     44.103093             B      NaN         Norte        144.0      5.0
 6239     35.441258             B      day        Centro        104.0      NaN

                 timestamp  quality_score
 0     2024-04-29 14:57:00      51.345036
 1     2024-05-26 18:12:00            NaN
 2     2024-04-30 04:28:00     103.537986
 3                     NaN      48.850995
 4     2024-01-28 04:43:00      70.346204
 ...                   ...            ...
 6235  2024-01-31 08:41:00      80.836287
 6236                  NaN      54.734622
 6237  2024-05-18 06:13:00      86.463000
 6238  2024-04-15 19:27:00            NaN
 6239  2024-01-13 08:12:00      73.100548

 [6240 rows x 31 columns]>,
 Index(['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10', 's11',
        's12', 's13', 's14', 's15', 's16', 's17', 's18', 's19', 's20',
        'vibration_rms', 'temp_c', 'pressure_bar', 'humidity_pct',
        'machine_type', 'shift', 'plant_region', 'operator_id', 'line_id',
        'timestamp', 'quality_score'],
       dtype='object'),
 193440)

In [9]:
copy_df = file.copy()

In [13]:
copy_df.describe()

,s1,s2,s3,s4,s5,s6,s7,s8,s9,s10,...,s18,s19,s20,vibration_rms,temp_c,pressure_bar,humidity_pct,operator_id,line_id,quality_score
count,5569.000000,5744.000000,5740.000000,5567.000000,5739.000000,5576.000000,5739.000000,5580.000000,5557.000000,5562.000000,...,5570.000000,5568.000000,5734.000000,5563.000000,5573.000000,5573.000000,5739.000000,5569.000000,5571.000000,5746.000000
mean,-0.046408,-0.359728,0.151861,0.228111,-0.083065,-0.077371,0.081703,-0.156282,-0.289547,0.013984,...,-0.148162,0.008992,-0.052697,2.359610,46.237942,5.613677,62.054918,124.448734,2.995692,86.929465
std,9.689571,11.753444,12.788576,13.870738,9.531714,10.630547,12.449184,11.502267,13.371879,9.575010,...,12.999301,13.196476,9.736059,3.616105,56.884372,7.185770,80.743225,14.455538,1.428229,104.048786
min,-154.885812,-234.324678,-146.267270,-287.393007,-159.965100,-229.826662,-181.778493,-151.543729,-185.628837,-154.510493,...,-202.912857,-188.800229,-130.107977,-46.028533,-632.167223,-99.658064,-976.342793,100.000000,1.000000,-964.369440
25%,-3.817762,-4.158819,-4.384155,-4.647781,-3.462575,-3.717650,-4.234571,-4.475151,-4.806461,-3.532811,...,-4.430903,-4.554918,-3.580737,1.247840,35.232839,4.219318,44.647397,112.000000,2.000000,59.581931
50%,0.056846,-0.288866,0.061808,0.207675,0.133785,0.070994,-0.121512,-0.108053,-0.162190,-0.007889,...,-0.137658,0.169119,-0.072631,2.037745,39.939445,5.051424,55.154022,124.000000,3.000000,72.721974
75%,3.637580,4.039275,4.513516,5.002652,3.534238,3.891414,3.977762,4.417187,4.467643,3.448989,...,4.403312,5.010587,3.375525,2.839293,44.910286,5.898466,66.207613,137.000000,4.000000,90.394332
max,149.472209,190.331128,187.437937,175.517693,140.908923,140.023327,206.945579,224.629955,215.932581,144.284203,...,201.146002,211.357384,152.271345,66.408060,725.215265,98.457929,1070.969061,149.000000,5.000000,1942.546474

In [15]:
copy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6240 entries, 0 to 6239
Data columns (total 31 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   s1             5569 non-null   float64
 1   s2             5744 non-null   float64
 2   s3             5740 non-null   float64
 3   s4             5567 non-null   float64
 4   s5             5739 non-null   float64
 5   s6             5576 non-null   float64
 6   s7             5739 non-null   float64
 7   s8             5580 non-null   float64
 8   s9             5557 non-null   float64
 9   s10            5562 non-null   float64
 10  s11            5567 non-null   float64
 11  s12            5564 non-null   float64
 12  s13            5572 non-null   float64
 13  s14            5569 non-null   float64
 14  s15            5572 non-null   float64
 15  s16            5564 non-null   float64
 16  s17            5745 non-null   float64
 17  s18            5570 non-null   float64
 18  s19            5568 non-null   float64
 19  s20            5734 non-null   float64
 20  vibration_rms  5563 non-null   float64
 21  temp_c         5573 non-null   float64
 22  pressure_bar   5573 non-null   float64
 23  humidity_pct   5739 non-null   float64
 24  machine_type   5572 non-null   object
 25  shift          5461 non-null   object
 26  plant_region   5566 non-null   object
 27  operator_id    5569 non-null   float64
 28  line_id        5571 non-null   float64
 29  timestamp      5575 non-null   object
 30  quality_score  5746 non-null   float64
dtypes: float64(27), object(4)
memory usage: 1.5+ MB

In [24]:
copy_df.isnull().sum().sort_values(ascending=False)

shift            779
s9               683
s10              678
vibration_rms    677
s16              676
s12              676
plant_region     674
s11              673
s4               673
s19              672
operator_id      671
s1               671
s14              671
s18              670
line_id          669
machine_type     668
s15              668
s13              668
pressure_bar     667
temp_c           667
timestamp        665
s6               664
s8               660
s20              506
humidity_pct     501
s5               501
s7               501
s3               500
s2               496
s17              495
quality_score    494
dtype: int64

In [11]:
copy_df.duplicated().sum()

np.int64(228)

In [ ]:
df_T= copy_df.T

In [23]:
df_T.isnull().sum().sort_values(ascending=False)

3086    11
3462    11
3020    10
2631    10
6080    10
        ..
3845     0
3900     0
3907     0
3910     0
54       0
Length: 6240, dtype: int64

In [17]:
df_T.duplicated().sum()

np.int64(0)

---

## 2. Preprocesamiento

Transformación a datos numéricos, eliminación de columnas redundantes, imputación de valores faltantes y técnicas de balanceo de clases si es necesario.

---

## 3. Modelado
- Entrenar al menos un modelo individual (baseline).
- Entrenar un modelo de ensamble usando bagging, boosting, voting o stacking.

---
## 4. Evaluación
Aplicar métricas adecuadas al tipo de problema (ej.: accuracy, precision, recall, F1-score, ROC-AUC en clasificación; RMSE, MAE en regresión).